<nav class="navbar navbar-expand-xl navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">MacShop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header_menu" aria-controls="header_menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="header_menu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Главная <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/catalog">Каталог</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Скидки</a>
      </li>
      <li *ngIf="isAdmin()" class="nav-item">
        <a class="nav-link" routerLink="/product-list">Управление</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">О нас</a>
      </li>
      <li *ngIf="!isAuthenticated()" class="nav-item">
        <a class="nav-link" routerLink="/signin">Войти</a>
      </li>
      <li *ngIf="isAuthenticated()" class="nav-item">
        <a class="nav-link" (click)="logOut()">Выйти</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Поиск</button>
    </form>
  </div>
</nav>
