.card {
  width: 20%;
}

.card-header {
  text-transform: none;
  text-align: center;
}

.card-text {
  text-align: justify-all;
}

/*a .card-link {
  text-align: center;
}*/

.card-footer {
  text-align: center;
}
