<div>
  <div class="container">
    <div class="row">
      <div class="card col-12 col-sm-6 col-xl-3" *ngFor="let product of products">
        <h3 class="card-header">{{product.name}} {{product.productDescription.year}}</h3>
        <img src="{{product.productDescription.photoLink}}"
             alt="Card image">
        <div class="card-body">
          <p class="card-text">{{product.productDescription.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li *ngFor="let color of initColorMap(product)"
              class="list-group-item">{{color}}
          </li>
        </ul>
        <div class="card-body">
          <button class="btn btn-primary btn" type="button" data-toggle="collapse" data-target="#product_description"
                  aria-controls="product_description"
                  aria-expanded="false">Подробнее
          </button>
          <div class="collapse navbar-collapse" id="product_description">
            {{product.productDescription.description}}
          </div>
        </div>
        <div *ngIf="inStock(product)" class="card-footer text-white bg-success">
          <p class="card-text">Есть в наличии</p>
        </div>
        <div *ngIf="!inStock(product)" class="card-footer text-white bg-danger">
          <p class="card-text">Нет в наличии</p>
        </div>
      </div>
    </div>
  </div>
</div>
