<div class="product-list">
  <h2>Список товаров</h2>
  <table class="table table-hover table-success">
    <thead>
    <tr>
      <th scope="col" class="hidden">ID</th>
      <th scope="col">Фото</th>
      <th scope="col">Название</th>
      <th scope="col">Цена</th>
      <th scope="col">
        <button class="btn btn-success" [routerLink]="['/product-add']">Добавить</button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-secondary" *ngFor="let product of products">
      <td class="hidden">{{product.id}}</td>
      <td>Photo</td>
      <td>
        <a [routerLink]="['/product-edit', product.id]">{{product.name}}</a>
      </td>
      <td>{{product.cost}}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteProduct(product.id)">Удалить</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
